<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

  <!-- SideBar Navigation -->
  <div class="container position-relative w-100 m-0 p-0 navigation-container">
    <div class="navigation position-fixed h-100 overflow-hidden">
      <ul class="position-absolute top-0 left-0 m-0 p-0 w-100">
        <div class="position-relative sidebar-logo mt-2 text-center overflow-hidden">
          <img src="https://img.freepik.com/premium-vector/disaster-color-icon-logo-style_570929-3418.jpg" class="w-auto h-100" alt="Logo" />
          <a href="/" class="project-title text-decoration-none text-light text-center fw-bold fs-5">
            ITISDEV Project
          </a>
        </div>

        <div class="d-flex flex-column align-items-center mt-3">
          <!-- Start of Navigation Links -->
          <ul class="container-fluid d-flex flex-column align-items-center justify-content-center gap-2">
            <!-- DASHBOARD -->
            <li class="nav-list w-100">
              <a href="/" class="nav-links text-decoration-none d-flex align-items-center gap-2">
                <i class="fa-solid fa-desktop"></i>
                <span>Dashboard</span>
              </a>
            </li>

            <!-- USER MANAGEMENT -->
            <li class="nav-list w-100">
              <a href="/userPage" class="nav-links text-decoration-none d-flex align-items-center gap-2">  <!--Not Working-->
                <i class="fa-solid fa-user"></i>
                <span>User Management</span>
              </a>
            </li>

            <!-- Announcement -->
            <li class="nav-list w-100">
                <a href="/announcement" class="nav-links text-decoration-none d-flex align-items-center gap-2">
                    <i class="fa-solid fa-bell"></i>
                    <span>Announcement</span>
                </a>
            </li>

            <!-- SOS Cases -->
            <li class="nav-list w-100">
                <a href="/sos" class="nav-links text-decoration-none d-flex align-items-center gap-2">
                    <i class="fa-solid fa-flag"></i>
                    <span>SOS Cases</span>
                </a>
            </li>

             <!-- MIA Cases -->
             <li class="nav-list w-100">
                <a href="/mia" class="nav-links text-decoration-none d-flex align-items-center gap-2">
                    <i class="fa-solid fa-person-circle-question"></i>
                    <span>Missing Person</span>
                </a>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>